@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.custom-shadow {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
}

.body {
    @apply
    font-body
    h-screen
    grid
    grid-rows-[auto_1fr_auto]
    grid-cols-none
}

.heading-container {
    @apply
    h-[111px]
    md:h-[86px]
    mb-8
    custom-shadow
}

.heading-content {
    @apply
    max-w-7xl
    px-8
    flex
    justify-between
    items-center
    mx-auto
    h-full
    sm:px-4
}

.doki-logo {
    @apply
    xs:w-[93px]
    xs:h-[37px]
}

.heading-title {
    @apply
    text-2xl
    text-custom-blue
    mb-1.5
    md:hidden
}

.heading-subtitle {
    @apply
    font-semibold
    text-sm
    text-custom-dark-grey
    italic
    md:hidden
}

.heading-title-small {
    @apply
    text-sm
    text-custom-blue
    self-center
    hidden
    md:block
    xs:text-xs
}

.content-section {
    @apply
    max-w-[1234px]
    w-full
    px-8
    mx-auto
    my-auto
    flex-1
    sm:px-4
}

.content-container {
    @apply
    custom-shadow
    rounded-2xl
    mb-14
    sm:mb-8
    flex
    justify-between
    flex-col
    p-11
    xs:p-4
}

.content-title {
    @apply
    block
    font-semibold
    text-xl
    mb-6
    sm:text-sm
    sm:mb-4
}

.primary-button {
    @apply
    py-[10px]
    px-12
    custom-shadow
    cursor-pointer
    text-custom-white
    rounded-2xl
    hover:brightness-105
    xs:px-6
    xs:py-[5px]
}

.secondary-button {
    @apply
    py-[10px]
    px-12
    custom-shadow
    cursor-pointer
    rounded-2xl
    hover:brightness-75
    xs:px-6
    xs:py-[5px]
    border-[1px]
    border-custom-grey
}

.blue-button {
    @apply
    py-[10px]
    px-6
    custom-shadow
    cursor-pointer
    text-custom-white
    rounded-2xl
    hover:brightness-105
    xs:px-6
    xs:py-[5px]
    flex
    items-center
    mb-4
}

.grey-box {
    @apply
    rounded-[18px]
    bg-custom-light-grey
    flex
    items-center
    justify-center
    border-[1px]
    border-custom-grey
}

.save-button {
    @apply
    py-[4px]
    px-[14px]
    h-[44px]
    sm:h-[32px]
    sm:text-sm
    rounded-3xl
    hover:brightness-75
    xs:px-4
    xs:py-[2px]
    mr-auto
    border-[1px]
    border-custom-grey
    flex
    text-custom-grey
    items-center
}

.chat-button-container {
    @apply
    flex
    mt-0
    mr-auto
    mb-8
    sm:mb-4
}

.chat-button {
    @apply
    cursor-pointer
    p-3
    ml-auto
    custom-shadow
    w-[69px]
    h-[69px]
    sm:w-[47px]
    sm:h-[47px]
    rounded-full
    bg-[url('../img/chat-dots.svg')]
    bg-no-repeat
    bg-center
}

.footer-container {
    @apply
    bg-custom-dark-blue
    h-[70px]
    justify-items-center
}

.footer-content {
    @apply
    flex
    max-w-7xl
    px-7
    xs:px-3
    text-custom-white
    items-center
    h-full
    text-sm
    sm:text-xs
    mx-auto
}

/*CUSTOM CHECKBOX*/

.checkbox-container {
    @apply mb-8
}

.checkbox-content {
    @apply
    flex
    items-center
    mr-4
    mb-2
}

.checkbox-input {
    @apply
    opacity-0
    absolute
    h-8
    w-8
}

.checkbox-div {
    @apply
    border-2
    rounded-[4px]
    border-custom-dark-grey
    w-[20px]
    h-[20px]
    flex
    flex-shrink-0
    justify-center
    items-center
    mr-2
}

.checkbox-img {
    @apply
    hidden
    w-3
    h-3
}

.checkbox-container input:checked + div img {
    @apply block
}

/*CUSTOM RADIO*/

.radio-container {
    @apply mb-4
}

.radio-content {
    @apply
    flex
    items-center
    mr-4
    mb-2
}

.radio-input {
    @apply
    opacity-0
    absolute
    h-8
    w-8
}

.radio-div {
    @apply
    border-2
    rounded-full
    border-custom-dark-grey
    w-[20px]
    h-[20px]
    flex
    flex-shrink-0
    justify-center
    items-center
    mr-2
}

.radio-group {
    @apply mb-9
}

.radio-img {
    @apply
    hidden
    w-3
    h-3
}

.radio-container input:checked + div img {
    @apply block
}

.progress-bar {
    grid-template-columns: repeat(20, 1fr);
    @apply
    grid
    grid-rows-1
    gap-0
    h-8
    mb-14
    mt-4
    sm:hidden
}

.step {
    @apply
    w-full
    h-full
    border-r-[1px]
    border-t-[1px]
    border-b-[1px]
    border-custom-grey
    relative
}

.first-step {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    @apply
    border-l-[1px]
}

.last-step {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.current-step {
    @apply
    absolute
    border-r-[1px]
    border-custom-grey
    mr-[-1px]
    top-[-20px]
    right-0
    text-custom-grey
    pr-1
    text-sm
}

.step-complete {
    background-color: rgba(0, 201, 183, 0.2);
}

.text-input {
    @apply
    py-[4px]
    px-[14px]
    h-[43px]
    sm:h-[36px]
    rounded-3xl
    xs:px-4
    xs:py-[2px]
    mr-auto
    border-[1px]
    border-custom-grey
    flex
    items-center
    outline-custom-dark-grey
    mb-8
    sm:mb-6
}

.text-input::placeholder {
    @apply
    text-custom-light-grey
    text-sm
}

.separator {
    @apply
    h-[1px]
    bg-custom-grey
    max-w-[547px]
    md:max-w-[400px]
    sm:max-w-[250px]
    xs:max-w-[150px]
    w-full
    mx-auto
    my-4
}

.text-info {
    @apply
    ml-4
    sm:text-xs
    text-custom-dark-grey
    max-w-2xl
    my-4
}

.info-container {
    @apply
    flex
    items-center
    my-4
}

.info-small {
    @apply
    text-sm
    sm:text-xs
    text-custom-dark-grey
    max-w-[560px]
    font-light
    mb-6
}

.label-small {
    @apply
    text-sm
    sm:text-xs
    text-custom-dark-grey
    font-light
    mb-1
}

@tailwind base;
@tailwind components;
@tailwind utilities;

