@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.custom-shadow {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
}

.body {
    line-height: 1.4rem;
    @apply
    font-body
    h-screen
    grid
    grid-rows-[auto_1fr_auto]
    grid-cols-none
    sm:leading-5
}

.link {
    @apply
    text-custom-blue
}

.link:hover {
    @apply
    brightness-125
    underline
}

.heading-container {
    @apply
    h-[111px]
    md:h-[86px]
    mb-8
    custom-shadow
}

.heading-content {
    @apply
    max-w-7xl
    px-8
    flex
    justify-between
    items-center
    mx-auto
    h-full
    sm:px-4
}

.doki-logo {
    @apply
    mt-[-8px]
    sm:w-[113px]
    sm:h-[57px]
    xs:w-[93px]
    xs:h-[37px]
}

.heading-title {
    @apply
    text-[26px]
    text-custom-blue
    mb-1.5
    md:hidden
}

.heading-subtitle {
    @apply
    font-semibold
    text-sm
    text-custom-dark-grey
    italic
    md:hidden
}

.heading-title-small {
    @apply
    text-sm
    text-custom-blue
    self-center
    hidden
    md:block
    xs:text-xs
}

.content-section {
    @apply
    max-w-[1234px]
    w-full
    px-8
    mx-auto
    my-auto
    flex-1
    sm:px-4
}

.content-container {
    @apply
    custom-shadow
    rounded-2xl
    mb-14
    sm:mb-8
    flex
    justify-between
    flex-col
    p-11
    xs:p-4
}

.content-container-contratti {
    @apply
    mb-14
    flex
    justify-between
    w-full
    md:flex-col
    gap-y-6
    gap-x-6
    lg:mb-0
}

.content-title {
    @apply
    block
    font-semibold
    text-xl
    mb-6
    sm:text-sm
    sm:mb-4
    text-[22px]
}

.content-title-card {
    @apply
    block
    font-semibold
    text-xl
    text-[22px]
    text-custom-blue
    mb-10
    mt-4
    sm:mt-0
    sm:mb-4
    sm:text-sm
}

.content-title-normal {
    @apply
    block
    font-[500]
    text-xl
    mb-4
    mt-8
    sm:mb-2
    text-[18px]
    sm:text-[14px]
    text-custom-dark-blue
}

.primary-button {
    @apply
    text-[18px]
    md:text-[16px]
    sm:text-[14px]
    py-[10px]
    px-12
    custom-shadow
    cursor-pointer
    text-custom-white
    rounded-2xl
    hover:brightness-105
    xs:px-6
    xs:py-[5px]
}

.secondary-button {
    @apply
    text-[18px]
    py-[10px]
    px-12
    custom-shadow
    cursor-pointer
    rounded-2xl
    hover:brightness-75
    border-[1px]
    border-custom-grey
    md:text-[16px]
    sm:text-[14px]
    xs:py-[5px]
    xs:px-6
}

.blue-button {
    @apply
    py-[10px]
    px-6
    custom-shadow
    cursor-pointer
    text-custom-white
    rounded-2xl
    hover:brightness-105
    xs:px-6
    xs:py-[5px]
    flex
    items-center
    mb-4
    sm:text-[14px]
}

.documento-button {
    @apply
    text-[18px]
    py-[10px]
    px-12
    shadow-md
    cursor-pointer
    text-custom-white
    rounded-2xl
    hover:brightness-105
    md:order-last
    shrink-0
    lg:px-2
    lg:py-2
    lg:text-[16px]
    lg:h-[58px]
    md:text-[16px]
    sm:shrink
    sm:h-[48px]
    sm:py-0
    sm:px-6
    sm:text-[14px]
    xs:py-[5px]
}

.grey-box {
    @apply
    rounded-[18px]
    bg-custom-light-grey
    flex
    items-center
    justify-center
    border-[1px]
    border-custom-grey
}

.save-button {
    @apply
    py-[4px]
    px-[14px]
    h-[44px]
    sm:h-[32px]
    sm:text-sm
    rounded-3xl
    hover:brightness-75
    xs:px-4
    xs:py-[2px]
    mr-auto
    border-[1px]
    border-custom-grey
    flex
    text-custom-grey
    items-center
}

.add-button {
    @apply
    py-[4px]
    px-[20px]
    h-[36px]
    sm:h-[32px]
    sm:text-sm
    rounded-3xl
    hover:brightness-75
    xs:px-4
    xs:py-[2px]
    mr-auto
    border-[1px]
    border-custom-green
    flex
    text-custom-green
    items-center
}

.chat-button-container {
    @apply
    flex
    mt-0
    mr-auto
    mb-8
    sm:mb-4
}

.chat-button {
    @apply
    cursor-pointer
    p-3
    ml-auto
    custom-shadow
    w-[69px]
    h-[69px]
    sm:w-[47px]
    sm:h-[47px]
    rounded-full
    bg-[url('../img/chat-dots.svg')]
    bg-no-repeat
    bg-center
}

.footer-container {
    @apply
    bg-custom-dark-blue
    h-[70px]
    justify-items-center
}

.footer-content {
    @apply
    flex
    max-w-7xl
    px-7
    xs:px-3
    text-custom-white
    items-center
    h-full
    text-sm
    sm:text-xs
    mx-auto
}

/*CUSTOM CHECKBOX*/

.checkbox-container {
    @apply mb-8
}

.checkbox-content {
    @apply
    flex
    items-center
    mr-4
    mb-2
}

.checkbox-input {
    @apply
    opacity-0
    absolute
    h-8
    w-8
}

.checkbox-div {
    @apply
    border-2
    rounded-[4px]
    border-custom-dark-grey
    w-[20px]
    h-[20px]
    flex
    flex-shrink-0
    justify-center
    items-center
    mr-2
}

.checkbox-img {
    @apply
    hidden
    w-3
    h-3
}

.checkbox-container input:checked + div img {
    @apply block
}

/*CUSTOM RADIO*/

.radio-container {
    @apply mb-4
}

.radio-content {
    @apply
    flex
    items-center
    mr-4
    mb-2
    text-[18px]
}

.radio-content-small {
    @apply
    flex
    items-center
    mr-4
    mb-2
    text-[14px]
}

.radio-input {
    @apply
    opacity-0
    absolute
    h-8
    w-8
}

.radio-div {
    @apply
    border-2
    rounded-full
    border-custom-dark-grey
    w-[20px]
    h-[20px]
    flex
    flex-shrink-0
    justify-center
    items-center
    mr-2
}

.radio-group {
    @apply mb-9
}

.radio-img {
    @apply
    hidden
    w-3
    h-3
}

.radio-container input:checked + div img {
    @apply block
}

.progress-bar {
    grid-template-columns: repeat(20, 1fr);
    @apply
    grid
    grid-rows-1
    gap-0
    h-8
    mb-14
    mt-4
    sm:hidden
}

.step {
    @apply
    w-full
    h-full
    border-r-[1px]
    border-t-[1px]
    border-b-[1px]
    border-custom-grey
    relative
}

.first-step {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    @apply
    border-l-[1px]
}

.last-step {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.current-step {
    @apply
    absolute
    border-r-[1px]
    border-custom-grey
    mr-[-1px]
    top-[-20px]
    right-0
    text-custom-grey
    pr-1
    text-sm
}

.step-complete {
    background-color: rgba(0, 201, 183, 0.2);
}

.text-input {
    @apply
    text-[18px]
    py-[4px]
    px-[14px]
    h-[43px]
    rounded-2xl
    mr-auto
    border-[1px]
    border-custom-grey
    flex
    items-center
    outline-custom-dark-grey
    mb-8
    sm:h-[36px]
    sm:mb-6
    sm:text-[14px]
    xs:py-[2px]
    xs:px-4
}

.text-input::placeholder {
    @apply
    text-custom-light-grey
    text-[18px]
    sm:text-[14px]
}

.separator {
    @apply
    h-[1px]
    bg-custom-grey
    max-w-[547px]
    md:max-w-[400px]
    sm:max-w-[250px]
    xs:max-w-[150px]
    w-full
    mx-auto
    my-4
}

.text-info {
    @apply
    ml-4
    sm:text-xs
    text-custom-dark-grey
    max-w-[806px]
    my-4
    text-[17px]
}

.text-info-md {
    @apply
    text-[18px]
    sm:text-xs
    text-custom-dark-grey
    max-w-[600px]
    font-medium
    mb-6
}

.info-container {
    @apply
    flex
    items-center
    my-4
}

.info-small {
    @apply
    text-[14px]
    sm:text-xs
    text-custom-dark-grey
    max-w-[600px]
    font-light
    mb-6
}

.custom-label {
    @apply
    sm:text-xs
    text-custom-dark-grey
    font-light
    mb-1
}

.badge {
    @apply
    flex
    bg-custom-light-grey
    rounded-[18px]
    h-[34px]
    flex
    justify-between
    items-center
    text-lg
    text-custom-blue
    px-4
    mr-auto
    mb-8
}

.password-input {
    background-position-x: 97% !important;
    @apply
    bg-[url('../img/password-icon.svg')]
    bg-no-repeat
    bg-right
}

.custom-select {
    @apply
    bg-[url('../img/select-arrow.svg')]
    bg-no-repeat
    bg-right
    appearance-none
    py-[4px]
    pl-[20px]
    pr-[14px]
    h-[43px]
    sm:h-[36px]
    rounded-2xl
    xs:px-4
    xs:py-[2px]
    mr-auto
    border-[1px]
    border-custom-grey
    outline-custom-dark-grey
    mb-8
    sm:mb-6
    bg-origin-content
    min-w-[200px]
}

#selected {
    @apply bg-custom-light-grey
}

.content-flex-wrapper {
    @apply
    grid
    grid-flow-col
    auto-cols-fr
    gap-8
    md:grid-flow-row
}

.info-container-grey-bg {
    @apply
    rounded-[18px]
    bg-custom-light-grey
    py-4
    px-4
    mb-8
    text-[18px]
    sm:text-[14px]
}

.documento-container {
    @apply
    flex
    justify-between
    flex-row
    custom-shadow
    rounded-2xl
    mb-14
    p-11
    min-h-[266px]
    lg:flex-col
    md:flex-row
    sm:flex-col
    sm:px-8
    sm:min-h-[140px]
    sm:mb-8
    xs:p-4
}

.small-card-container {
    @apply
    custom-shadow
    rounded-2xl
    mb-14
    sm:mb-4
    flex
    justify-between
    flex-col
    p-11
    xs:p-4
    text-center
    cursor-pointer
    hover:outline
    hover:outline-1
    hover:outline-custom-dark-blue
    sm:flex-row-reverse
    sm:justify-center
    items-center
}

.pricing-card {
    @apply
    shadow-md
    rounded-2xl
    mb-14
    flex
    flex-col
    mx-auto
    border
    border-custom-grey
    pb-10
    sm:pb-6
    min-h-[527px]
    min-w-[370px]
    lg:min-w-[350px]
    sm:min-h-[255px]
    sm:mb-8
    xs:min-w-[290px]
    xs:max-w-[100%]
}

.pricing-card-logo {
    @apply
    mb-4
    sm:scale-75
    sm:mt-4
}

.card-item-text-lg {
    @apply
    text-[26px]
    sm:text-[14px]
    sm:mb-4
    mb-8
    mt-8
}

.card-item-text {
    @apply
    text-[18px]
    sm:text-[14px]
    mb-6
    sm:mb-3
    leading-5
}

.heading-circle-container {
    @apply
    w-[390px]
    lg:w-[300px]
    relative
    flex
    justify-between
    items-center
}

.heading-circle-h-line {
    @apply
    absolute
    bg-custom-blue
    h-[1px]
    w-full
    top-1/2
    -z-10
}

.heading-circle-v-line {
    @apply
    absolute
    bg-custom-blue
    w-[1px]
    h-[60px]
    left-0
    right-0
    top-1/2
    -z-10
    mx-auto
}

.heading-circle-v-dot {
    @apply
    absolute
    bg-custom-blue
    w-[5px]
    h-[5px]
    left-0
    right-0
    mt-[89px]
    rotate-45
    -z-10
    mx-auto
}

.heading-circle-blue {
    @apply
    rounded-full
    bg-custom-blue
    text-custom-light-grey
    text-[32px]
    w-[66px]
    h-[66px]
    text-center
    leading-[62px]
}

.heading-circle-white {
    @apply
    rounded-full
    border-custom-blue
    bg-custom-white
    border
    text-custom-blue
    text-[32px]
    w-[66px]
    h-[66px]
    text-center
    leading-[62px]
}

.search-input {
    @apply
    drop-shadow-md
    rounded-2xl
    w-full
    px-6
    bg-[url('../img/search-icon.svg')]
    bg-no-repeat
    bg-right
    bg-origin-content
    h-[54px]
    min-w-[100px]
    sm:h-[48px]
}

.sidebar-item {
    @apply
    flex
    p-5
    text-[18px]
    font-medium
    text-custom-blue
    cursor-pointer
}

.sidebar-item-container {
    @apply
    border-b
    border-custom-grey
}

.sidebar-menu {
    @apply
    overflow-y-auto
    rounded-[18px]
    custom-shadow
    min-w-[325px]
    sm:min-w-fit
    grow
    lg:max-h-[60px]
    lg:overflow-hidden
    leading-5
}

.sidebar-menu-open {
    @apply
    max-h-fit
    overflow-visible
}

.contratti-card {
    @apply
    rounded-[18px]
    custom-shadow
    overflow-hidden
    flex
    flex-col
    relative
    min-h-[280px]
}

.contratti-card-header {
    @apply
    bg-custom-light-grey
    h-[60px]
    text-custom-blue
    font-medium
    leading-5
    text-[20px]
    py-5
    px-8
    sm:px-4
    flex
    justify-between
}

.sidebar-arrow-container {
    @apply
    hidden
    lg:block
    h-[60px]
    w-[40px]
    cursor-pointer
    mx-auto
    rotate-180
}


.sidebar-arrow-closed {
    @apply
    absolute
    right-0
    rotate-0
}


@tailwind base;
@tailwind components;
@tailwind utilities;

